h3 {
    color: grey;
    font-size: 18;
    text-align: center;
}

ol {
    color: darkgrey;
    font-size: 14;
}

/* The text for the heading and list items can be any color EXCEPT black. 
(HINT: Take advantage of the movies class).
The movie list should have a centered heading.
The font size should be large enough to easily read. */